@import '../_breakpoints.scss';

header {
    background-image: url('../../assets/images/welcome_bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 145px 0 136px 0;
    border-bottom: 10px solid var(--green);
    color: var(--text-color);
    z-index: 1;
    position: relative;

    @include xl {
        padding: 120px 0 115px 0;
    }

    @include lg {
        padding: 100px 0 95px 0;
    }

    @include md {
        .welcome-page {
            flex-direction: column;
        }
    }


    .welcome-page {
        display: flex;

        .toggle-block {
            background-color: var(--background-1);
            width: 260px;
            height: 400px;
            height: auto;
            padding: 144px 41px 0 41px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 25px;

            .logo {
                padding-bottom: 5px;
                border-bottom: 1px solid var(--yellow);
            }

            p {
                max-width: 129px;
                text-align: center;
                font-size: 16px;
                padding-top: 15px;
                margin: 0;

                @include md {
                    display: none;
                }
            }

            .toggle-mode {
                margin-top: 60px;
                display: flex;
                align-items: center;
                justify-content: start;
                position: relative;
                background-color: var(--background-2);
                border-radius: 15px;

                .switch {
                    position: relative;
                    display: inline-block;
                    width: 110px;
                    height: 30px;

                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;
                        transition: 1s transform ease;
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;

                        .mode-name {
                            text-align: start;
                            padding: 6px 0 8px 10px;
                            font-size: 12px;
                            text-transform: uppercase;
                            margin: 0;
                            transition: 1s text-align ease;

                            @include md {
                                display: block;
                            }
                        }
                    }

                    .slider::before {
                        position: absolute;
                        content: url('../../assets/images/daymode.svg');
                        padding-top: 4px;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 1px solid var(--background-2);
                        background-color: #FFF;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        right: -15px;
                        top: -5px;
                        transition: 1s transform ease;
                    }

                    input:checked+.slider::before {
                        transform: translateX(-100px);
                        content: url('../../assets/images/nightmode.svg');
                    }

                    input:checked+.slider .mode-name {
                        padding: 6px 10px 8px 0;
                        text-align: end;
                    }

                }
            }

            @include xl {
                width: 300px;
                height: 330px;
                padding: 100px 30px 0 30px;

                .logo {
                    width: 100%;
                }

                .toggle-mode {
                    margin-top: 40px;
                }
            }

            @include lg {
                width: 220px;
                height: 250px;
                margin-right: 15px;
                padding: 50px 30px 0 30px;

                .logo {
                    width: 100%;
                }

                p {
                    font-size: 13px;
                }

                .toggle-mode {
                    margin-top: 40px;
                }
            }

            @include md {
                width: 100%;
                height: 100%;
                padding: 15px 0;
                flex-direction: row;
                align-items: center;
                justify-content: space-around;
                margin: 0 0 20px 0;

                .logo {
                    max-width: 100px;
                }

                .toggle-mode {
                    margin-top: 0;
                }
            }
        }
    }
}

nav {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--navbar-background);
    z-index: 5;

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 45px;

        @include lg {
            height: 100%;
            flex-direction: column;
            align-items: start;
            padding: 10px 0;

            img {
                margin-bottom: 10px;
            }
        }

        img {
            width: 107px;
        }

        .navigation {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 37px;
            margin: 0;

            li {
                a {
                    font-size: 14px;
                    color: var(--white);
                    transition: color 0.3s ease;
                }
            }

            li:hover {
                a {
                    color: rgb(219, 212, 212);
                }
            }

            @include xl {
                gap: 20px;
            }

            @include lg {
                gap: 10px;
                flex-wrap: wrap;
                justify-content: space-between;

                li {
                    width: 25%;
                }
            }

            @include md {
                gap: 5px;

                li {
                    width: 45%;
                }
            }

            @include sm {
                gap: 3px;

                li {
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}