.main-page {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0 0 0 60px;
    background-color: var(--main-background);
    color: var(--text-color);

    #services{
        padding-top: 65px;
    }

    h1 {
        font-size: 50px;
        color: #999B9A;
        margin-bottom: 35px;
    }

    .sort-block {
        display: flex;
        align-items: flex-start;
        gap: 50px;
        height: 70px;

        .search-block {
            position: relative;

            input {
                width: 300px;
                height: 45px;
                border-radius: 27.5px;
                border: none;
                background-color: var(--search-background);
                font-size: 16px;
                padding-left: 20px;
            }

            input::placeholder,
            input:focus,
            input:active,
            input:valid {
                color: var(--text-color);
            }

            span {
                position: absolute;
                right: 20px;
                top: 8px;

                svg {
                    g {
                        path {
                            stroke: var(--text-color);
                        }
                    }
                }
            }
        }
    }


    .services {
        padding-bottom: 30px;
        .services-card {
            margin-top: 50px;
            display: flex;
            gap: 110px;
            justify-content: start;
        }

        .pagination {
            margin-top: 75px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;


            .pagination-number {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }

            .previous {
                margin-right: 25px;
            }

            .next {
                margin-left: 25px;
            }
        }
    }

    .design-learning {
        position: relative;
        background-color: var(--main-background);
        background-image: url('../../assets/images/DesignBg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 0 20px 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 140px 0;

        img {
            width: 311px;
            position: absolute;
            bottom: 0;
            right: 130px;
        }

        h1 {
            font-size: 75px;
            font-weight: 600;
            color: #424242;
            text-transform: uppercase;
            line-height: 100%;
            max-width: 437px;
            margin: 0;
        }

        p {
            color: #424242;
            font-size: 35px;
            text-transform: capitalize;
            font-weight: 250;
            line-height: 100%;
            margin: 5px 0 35px 0;
        }

        button {
            border-radius: 25px;
            background: #3D948C;
            width: 198px;
            height: 50px;
            color: var(--white);
            font-size: 20px;
            border: none;
        }
    }

    .instructional-design {
        padding: 50px 0 0 50px;

        .design-block {
            h1 {
                margin-bottom: 35px;
                color: #999B9A;
                font-size: 50px;
                font-weight: 600;
            }

            .design-info {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 100px;
                padding-bottom: 100px;

                .info{
                    width: 600px;
                    h4 {
                        font-size: 30px;
                    }
    
                    p {
                        font-size: 16px;
                        line-height: 150%;
                        margin: 30px 0 41px 0;
                    }
    
                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 21px;
                        li {
                            display: flex;
                            align-items: flex-start;
                            gap: 10px;
                            font-size: 16px;
                            line-height: 150%;
                            span{
                                width: 30px;
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}