@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');

footer {
    .footer-block {
        padding: 65px 0;
        color: #929292;
        background: #414141;

        .footer-navigation {
            display: flex;
            align-items: start;
            justify-content: space-between;

            .footer-logo {
                p {
                    font-size: 12px;
                    margin-top: 5px;
                    font-weight: 300;
                    font-family: Raleway;
                }
            }

            .navigation {
                ul {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    column-gap: 150px;
                    row-gap: 10px;
                }

                li:last-child {
                    grid-column-start: 3;
                    grid-column-end: 4;
                }

                @include xl {
                    ul {
                        grid-template-columns: repeat(2, 1fr);
                        text-align: center;
                        column-gap: 120px;
                    }

                    li:last-child {
                        grid-column-start: 2;
                        grid-column-end: 2;
                    }
                }

                @include sm {
                    ul {
                        grid-template-columns: repeat(1, 1fr);
                        text-align: center;
                        column-gap: 10px;
                    }
                }
            }

            @include md {
                flex-direction: column;
                align-items: center;
                row-gap: 20px;

                .footer-logo {
                    text-align: center;
                }
            }
        }
    }

    .footer-copyright {
        color: #595959;
        background: #383838;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}