:root {
    --background-1: #FFFF;
    --background-2: #EBEBEB;
    --main-background: #FFFF;
    --text-color: #424242;
    --navbar-background: #343434;
    --search-background: #EBEBEB;
    --white: #FFFF;
    --chat-text: rgba(56, 56, 56, 0.20);
    --green: #3D948E;
    --green-light: #29B4AD;
    --yellow: #DCCE90;
    --grey: #B5B7B6;
    --font-family: 'Museo Sans Cyrl', sans-serif;
    --messages-bg: rgba(52, 52, 52, 0.05);
}

[data-theme="dark"] {
    --background-1: #414141;
    --background-2: #343434;
    --main-background: #343434;
    --text-color: #FFF;
    --navbar-background: #414141;
    --search-background: #414141;
    --chat-text: rgba(255, 255, 255, 0.20);
    --messages-bg: rgba(255, 255, 255, 0.05);
}