@import './base/base';

*,
*::before,
*::after,
p,
ul,
li {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out, 0.1s color ease;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

input{
    outline: none;
}

body{
    font-family: var(--font-family);
}

.App {
    position: relative;
}

.container-block {
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1180px;
    position: relative;


    @include xl {
        max-width: 1024px;
    }

    @include lg {
        max-width: 760px;
    }

    @include md {
        max-width: 480px;
    }

    @include sm {
        max-width: 350px;
    }
}